.Cart {
  display: flex;
  flex-direction: column;

  .top-box {
    ul {
      display: flex;

      li {
        display: inline;
      }

      li:last-child::before {
        content: '>';
        margin-left: 0.5rem;
        margin-right: 0.75rem;
        display: block;
        height: 0.375rem;
        width: 0.375rem;
      }
    }
  }
}
