@import './utils.scss';
.CommonHeader {
  background-color: $gray1;
  color: $white;
  .header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    color: $white;
    background: $gray1;
    padding: 4px 50px;
    margin: 0 auto;
    font-size: 1rem;
    color: $white;
    width: 1360px;
  }
  .mainTitle {
    color: $white;
    text-decoration: none;
  }

  .item {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-basis: 1;
    text-decoration: none;
    .item-list {
      margin-left: 2rem;
      color: $white;
    }
    .link {
      color: $white;
      text-decoration: none;
    }
    .item-list:hover {
      font-size: 1rem;
      .link {
        color: bisque;
        padding: 2px 4px;
      }
    }
  }
  .sidebar {
    display: flex;
    align-items: center;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-right: 1rem;

      &:hover {
        color: #777;
      }

      &:active {
        background-color: #f0f0f0;
      }
    }

    input[type='text'] {
      border: none;
      border-bottom: 1px solid #fff;
      padding: 0.5rem 1rem;
      margin-right: 1rem;
      color: #000000;
      z-index: 11;
    }
  }
}
