@import './utils.scss';
.Home {
  background-color: $gray2;
  /*   .home-bg {
    height: 300px;
    background-image: url('/public/img_shop_fashion.jpeg');
    background-size: cover;
    background-position: center;
  } */

  .carousel {
    position: relative;
    height: 700px;
    overflow: hidden;

    .carousel-inner {
      display: flex;
      transition: transform 0.5s ease-in-out;

      .carousel-item {
        flex: 0 0 auto;
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .carousel-control {
      position: absolute;
      top: calc(50% - 20px);
      font-size: 40px;
      color: #fff;
      cursor: pointer;
      z-index: 1;

      &.prev {
        left: 10px;
      }

      &.next {
        right: 10px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 20px;

    .title {
      width: 100%;
      text-align: center;
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 12px;
      color: $text-color;
    }

    &:last-child {
      margin-bottom: 80px;
    }
  }

  .productCards {
    display: flex;
    justify-content: center;
    transition: all 1s;

    .cardBox {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 0;
    }

    .productCard {
      display: flex;
      flex-direction: column;

      flex: 1 1 30%;

      width: 300px;
      height: 500px;
      border: 1px solid #504c4c;
      border-color: rgb(31 45 55);
      box-shadow: 2px 1px 7px 1px #555555;
      border-radius: 15px 15px 0 0;

      overflow: hidden;
      margin: 15px 15px;
      color: $text-color;

      .card-top {
        opacity: 1;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        height: 300px;

        img {
          max-width: 50%;
          max-height: 50%;
        }
      }

      .card-body {
        padding: 32px;
        border-top: 1px solid black;
        .card-title {
          font-size: 1rem;
          font-weight: bold;
          line-height: 1.5rem;
          margin-bottom: 10px;
          margin-top: 0;
        }
        p {
          font-size: 16px;
          color: $text-color;
        }
      }
    }
    .productCard:hover {
      img {
        width: 90%;
        height: 90%;
      }
    }
  }
}
