@import './utils.scss';

.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .alert {
    background-color: beige;
    width: 110%;
    text-align: center;
    color: red;
    height: 3rem;
    line-height: 3rem;
    font-weight: 900;
  }

  .card-top {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 20px;

    img {
      width: 100%;
      height: 20rem;
    }
  }

  .card-body {
    width: 100%;
    max-width: 400px;

    text-align: center;

    .card-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .sub-title {
      font-size: 18px;
      color: #777;
      margin-bottom: 10px;
    }

    .starCount-people {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;

      .starCount,
      .peopleCount {
        font-size: 14px;
        color: #777;

        &:first-child {
          margin-right: 10px;
        }
      }
      .starCount {
        display: flex;
        align-items: center;

        &:before {
          content: '★★★★★';
          font-size: 18px;
          color: #ddd;
        }

        &:after {
          content: '★★★★★';
          font-size: 18px;
          color: gold;
          position: absolute;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }

    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .card-actions {
      display: flex;
      flex-direction: column;

      button {
        padding: 10px 20px;
        border-radius: 7px;
        border: none;
        cursor: pointer;

        &:first-child {
          background-color: #4b4d45;
          color: white;
          margin-bottom: 10px;
        }
        &:nth-child(2) {
          background-color: $button;
          color: white;
          margin-bottom: 10px;
        }

        &:last-child {
          background-color: #2a303c;
          border: 1px solid white;

          color: white;
        }

        &:hover {
          opacity: 0.8;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
