@import './styles/utils.scss';
@import './styles/commonHeader.scss';
@import './styles/home.scss';
@import './styles/productDetail.scss';
@import './styles/cart.scss';
html,
body,
#root {
  margin: 0;
  box-sizing: border-box;
  background-color: #2a303c;
}
